@import "variables";
@import "animations";
.about-container {
	padding: 2rem;
	box-sizing: content-box;
	overflow: hidden;
	@media only screen and (max-width: $bp-large) {
		padding: 0;
	}
}
.about {
	background-image: linear-gradient(
			to right,
			rgba($white, 0.75) 0%,
			rgba($white, 0.75) 75%,
			transparent 75%
		),
		url("https://images.unsplash.com/photo-1516464278939-6c47180c46eb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
	border-radius: 4px;
	overflow: hidden;
	min-height: 80vh;
	background-size: cover;
	display: flex;
	box-shadow: $shadow-subtle;
	@media only screen and (max-width: $bp-medium) {
		background-image: linear-gradient(
				to right,
				rgba($white, 0.75) 0%,
				rgba($white, 0.75) 65%,
				transparent 65%
			),
			url("https://images.unsplash.com/photo-1516464278939-6c47180c46eb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
	}
	@media only screen and (max-width: $bp-small) {
		background-image: linear-gradient(
				to right,
				rgba($white, 0.45) 0%,
				rgba($white, 0.45) 100%
			),
			url("https://images.unsplash.com/photo-1516464278939-6c47180c46eb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
	}

	&__left {
		flex: 0.75;
		padding-bottom: 3rem;
		@media only screen and (max-width: $bp-medium) {
			flex: 0.65;
			padding-bottom: 2rem;
		}
		@media only screen and (max-width: $bp-small) {
			flex: 1;
		}
		&--header {
			font-size: 4rem;
			color: $github-dark;
			padding: 2rem;
			animation-fill-mode: both;
			animation: descend 0.5s ease-in;
			@media only screen and (max-width: $bp-medium) {
				font-size: 3rem;
			}
			@media only screen and (max-width: $bp-small) {
				font-size: 2.5rem;
			}
			span {
				font-size: 1.6rem;
				color: $dark-grey;
				@media only screen and (max-width: $bp-small) {
					font-size: 1.2rem;
				}
			}
		}
		&--content {
			font-size: 1.8rem;
			color: $dark-grey;
			animation-fill-mode: both;
			padding: 1rem;
			animation: ascend 0.6s ease-out;
			animation-fill-mode: backwards;
			@media only screen and (max-width: $bp-medium) {
				font-size: 1.6rem;
			}
			@media only screen and (max-width: $bp-small) {
				font-size: 1.4rem;
				padding: 0.5rem;
				color: $github-dark;
			}

			&:nth-child(4) {
				animation-delay: 1s;
			}
			&:nth-child(3) {
				animation-delay: 0.5s;
			}
		}
	}
	&__right {
		flex: 0.25;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@media only screen and (max-width: $bp-small) {
			justify-content: flex-start;
			margin-top: 12rem;
		}

		.MuiAvatar-root {
			height: 25rem;
			width: 25rem;
			font-size: 4rem;
			animation-fill-mode: both;
			filter: drop-shadow($shadow-heavy);
			animation: fadeInFromLeft 0.6s ease-in;
			@media only screen and (max-width: $bp-largest) {
				font-size: 3.75rem;
				height: 20rem;
				width: 20rem;
			}
			@media only screen and (max-width: $bp-large) {
				font-size: 3.25rem;
				height: 18rem;
				width: 18rem;
			}
			@media only screen and (max-width: $bp-medium) {
				font-size: 3rem;
				height: 16rem;
				width: 16rem;
				align-self: center;
			}
			@media only screen and (max-width: $bp-small) {
				font-size: 2.5rem;
				height: 13rem;
				width: 13rem;
			}
		}
		.MuiAvatar-img {
			object-fit: cover;
			object-position: 70% center;
			filter: contrast(1.3);
			transform: scale(1.5);
		}
		.name {
			font-size: 6rem;
			text-shadow: $shadow-heavy;
			animation-fill-mode: both;
			color: $white;
			animation: fadeInFromRight 0.6s ease-in;
			@media only screen and (max-width: $bp-largest) {
				font-size: 5rem;
			}
			@media only screen and (max-width: $bp-large) {
				font-size: 4rem;
			}
			@media only screen and (max-width: $bp-medium) {
				font-size: 3rem;
				text-shadow: $shadow-subtle;
			}
			@media only screen and (max-width: $bp-small) {
				font-size: 2.5rem;
			}
		}
	}
}
