@import "variables.scss";
.home {
	min-height: 100vh;
	background-image: radial-gradient(
			rgba(0, 0, 0, 0.3),
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.9)
		),
		url("https://images.unsplash.com/photo-1566837945700-30057527ade0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
	background-size: cover;
	background-position-y: center;
	position: relative;
	font-family: "Andika New Basic", sans-serif;

	.center {
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		&__title {
			font-size: 6rem;
			padding: 1rem;
			font-weight: 700;
			letter-spacing: 2px;
			color: $white;
			text-shadow: $shadow-subtle;
		}
		&__description {
			font-size: 2.8rem;
			color: $light-grey;
			text-align: right;
		}
	}
}
