@import "variables.scss";
.home {
	min-height: 100vh;
	background-image: radial-gradient(
			rgba(0, 0, 0, 0.3),
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.9)
		),
		url("https://images.unsplash.com/photo-1490274480207-c9140355abba?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
	background-size: cover;
	background-position-y: center;
	background-position-x: center;
	position: relative;
	font-family: "Andika New Basic", sans-serif;

	.center {
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		&__title {
			font-size: 6rem;
			padding: 1rem;
			font-weight: 700;
			letter-spacing: 2px;
			color: $white;
			text-shadow: $shadow-mini;
			@media only screen and (max-width: $bp-medium) {
				font-size: 4.5rem;
			}
			@media only screen and (max-width: $bp-small) {
				font-size: 3rem;
				font-weight: 600;
			}
			span.name {
				font-size: 7rem;
				color: transparent;
				text-shadow: none;
				filter: drop-shadow($shadow-mini);
				background-clip: text;
				background-image: linear-gradient(
					45deg,
					$gold 0%,
					$gold 50%,
					$purple 50%
				);
				display: inline-block;
				@media only screen and (max-width: $bp-medium) {
					font-size: 5rem;
				}
				@media only screen and (max-width: $bp-small) {
					font-size: 4.5rem;
				}
			}
		}
		&__description {
			font-size: 2.8rem;
			color: $light-grey;
			text-align: right;
			text-shadow: $shadow-mini;
			@media only screen and (max-width: $bp-medium) {
				font-size: 2rem;
			}
			@media only screen and (max-width: $bp-small) {
				font-size: 1.6rem;
			}
		}
	}
}
