@import "variables.scss";
.nav {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	margin-top: 2rem;
	margin-right: 2rem;
	align-items: flex-end;

	&__item {
		padding: 1rem 1.5rem;
		margin: 0 1rem;
		color: $white;
		font-size: 2rem;
		cursor: pointer;
		border: 2px solid transparent;
		transition: all 0.2s ease-in;
		&:hover {
			color: $gold;
			border: 2px solid $gold;
			transform: translateY(-3px);
		}
	}
}
