@import "variables.scss";
.nav {
	display: flex;
	align-items: flex-end;
	margin-top: 2rem;
	animation: growLeft 0.25s ease-in;
	margin-right: 2rem;
	transition: width 0.25s ease-in;
	background-color: $github-dark;
	box-shadow: $shadow-subtle;
	border-radius: 3rem;
	padding-right: 4.5rem;
	@media only screen and (max-width: $bp-small) {
		margin-top: 3rem;
	}
	&:hover {
		width: 100%;
	}

	&__item {
		padding: 1.5rem 2.5rem;
		color: $white;
		font-size: 2rem;
		cursor: pointer;
		transition: all 0.2s ease-in;
		border-radius: 3rem;
		@media only screen and (max-width: $bp-medium) {
			font-size: 2rem;
			padding: 1rem 2rem;
		}
		@media only screen and (max-width: $bp-small) {
			font-size: 1.6rem;
			padding: 1rem 1.25rem;
		}
		@media (hover: hover) {
			&:hover {
				color: $github-dark;
				background-color: $light-grey;
				transform: translateY(-3px);
			}
		}
	}
}

.nav-container {
	position: absolute;
	top: 0;
	right: 0;
	transition: width 0.25s ease-in;
	width: auto;
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;
}
.nav-menu {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(-50%, 50%);
	border-radius: 50%;
	z-index: 2;
	box-shadow: $shadow-heavy;
	color: $github-dark;
	background-color: $light-grey;
	padding: 1rem;
	cursor: pointer;
	@media only screen and (max-width: $bp-small) {
		margin-top: 1rem;
	}

	svg.MuiSvgIcon-root {
		display: inline-block;
		font-size: 3rem;
		@media only screen and (max-width: $bp-medium) {
			font-size: 2.5rem;
		}
		@media only screen and (max-width: $bp-small) {
			font-size: 2rem;
		}
	}
}
