// colors
$light-grey: #ccc;
$dark-grey: #777;
$white: #fff;
$gold: #fdc500;
$purple: #5c0099;
$orange: #f1551c;
$twitter-blue: #1dcaff;
$linkedin-blue: #2867b2;
$github-dark: #1c1f22;
$insta-pink: #e1306c;
$dark-red: #c70b0b;
$trans-white: rgba(255, 255, 255, 0.75);

// shadows
$shadow-subtle: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.6);
$shadow-heavy: 0 0.6rem 1rem rgba(0, 0, 0, 0.85);
